* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

#result {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 20px;
}
#result .quote {
  font-size: 2rem;
}